@import "../Sass/variables.scss";

.cart {
  h1 {
    text-align: center;
    font-weight: 600;
    padding-top: 2rem;
    font-family: Source Serif Pro, Semibold;
  }

  hr {
    height: 0.6rem !important;
    width: 7%;
    background-color: $blue !important;
    margin-bottom: 3rem;
    margin-left: 37rem !important;
    opacity: 3;
  }

  .product {
    display: flex;
    padding-top: 0px;
    text-align: left;

    img {
      padding-bottom: 2rem;
    }

    div:last-child {
      padding-left: 2rem;
      padding-top: 1rem;
    }

    h6 {
      font-weight: 400;
    }

    h5 {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .badge {
    color: $black;
  }

  .group {
    padding-top: 3.3rem;
    padding-left: 1rem;

    .border {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: 2px #6c757d solid !important;
      color: $black;
      border-radius: 2rem;
    }

    .quant {
      border: 2px #6c757d solid;
      width: 4rem;
      height: 2rem;
      text-align: center;
      border-radius: 6px !important;
      padding: 4px 20px;
      margin-top: 0.4rem;
    }

    p:last-child {
      font-size: 0.9rem;
    }
  }

  .icon {
    padding-top: 1.5rem;

    p {
      font-size: 0.8rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }
  .checkout {
    border: 2px #d1d3d6 solid;
    padding: 2rem;
    box-shadow: 5px 10px 8px 10px #0000000d;
    border-radius: 0.3rem;
    h5 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    h6 {
      font-size: 1.1rem;
      font-weight: 400;
      padding-top: 1rem;
    }
    button {
      padding-top: 1rem;
    }
    .check {
      border: none;
      background-color: #1f39ff;
      color: white;
      padding: 8px 70px;
      border-radius: 2rem;
      margin-top: 1rem;
    }
    .pay {
      background-color: transparent;
      border: none;
    }
  }
}

.buttons {
  text-align: center;
}

// accordian

.accordian {
  padding: 2rem 0;
}

// Result start

.acco-right {
  padding-left: 19rem;
}

// Recently Viewed

.caro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  // background-color: #00008B;
  color: #fff;
  margin: 0 15px;
  font-size: 1em;
}

// Media Quaries

@media only screen and (max-width: 768px) {
  .accordian {
    display: none;
  }
  .cart hr {
    height: 0.5rem !important;
    width: 12%;
    margin-left: 22rem !important;
  }
  .icon {
    display: none;
  }
  .cart .group {
    padding-top: 5rem;
    padding-left: 8rem;
  }
  .cart .product h5 {
    font-size: 1.5rem;
  }
  .cart .product h6 {
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 0.3rem;
  }
}

@media only screen and (max-width: 320px) {
  .cart .product img {
    width: 120px;
    height: 145px;
  }
  .cart .product h5 {
    font-size: 17px;
  }
  .cart .product h6 {
    font-size: 15px;
    padding-top: 0.2rem;
  }
  .cart hr {
    height: 0.5rem !important;
    width: 25%;
    margin-left: 8rem !important;
  }
  .cart .group {
    padding-top: 9.5rem;
    padding-left: 0rem;
  }
  .cart .group .border {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px #6c757d solid !important;
    color: black;
  }
}
