* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  // box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  background-color: whitesmoke;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 97vh;
  width: 117%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.navmob .logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
  padding: 0px 9rem;
  display: flex;
}
.loginmob {
  position: relative;
  left: 108px;
  bottom: -6px;
}
.signmob {
  position: relative;
  left: 118px;
  top: 6px;
}
.logomob {
  position: relative;
  top: 2px;
  left: 40px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
.navmob {
  display: none;
}

@media only screen and (max-width: 993px) {
  .navmob {
    display: block !important;
  }
  .navmob .logo {
    padding: 0px 28rem;
  }
  .loginmob {
    left: 27rem;
  }
  .navbar .menu-items {
    margin-right: -34px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container .hamburger-lines {
    height: 23px;
    width: 28px;
    top: 12px;
  }
  .navmob .logo {
    right: 38px;
    padding: 0px 17rem;
  }
  .loginmob {
    left: 19rem;
  }
}

@media only screen and (max-width: 426px) {
  .nav-container .hamburger-lines {
    height: 23px;
    width: 28px;
    top: 12px;
  }
  .navmob .logo {
    right: 0px;
    padding: 0px 9rem;
  }
  .loginmob {
    left: 8rem;
  }
}

@media only screen and (max-width: 376px) {
  .nav-container .hamburger-lines {
    height: 23px;
    width: 28px;
    top: 12px;
  }
  .navmob .logo {
    right: 50px;
    padding: 0px 6rem;
  }
  .loginmob {
    left: 9rem;
  }
}

@media only screen and (max-width: 320px) {
  .nav-container .hamburger-lines {
    height: 23px;
    width: 28px;
    top: 12px;
  }
  .navbar .logo h2 {
    font-size: 2rem;
  }
  .navmob .logo {
    padding: 0px 3rem;
    margin-right: 0rem;
  }
  .loginmob {
    left: 85px;
  }
  .navbar .menu-items {
    margin-right: -11px;
    padding-left: 0px;
  }
}
